@font-face {
	font-family: 'iconfont'; /* Project id 4262610 */
	src:
		url('./iconfont.woff2?t=1764912191718') format('woff2'),
		url('./iconfont.woff?t=1764912191718') format('woff'),
		url('./iconfont.ttf?t=1764912191718') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.next-huoyunche:before {
	content: '\e63c';
}

.next-yonghuguanli1:before {
	content: '\e642';
}

.next-hangcheguiji:before {
	content: '\e647';
}

.next-shishishipinjiankong:before {
	content: '\e6a3';
}

.next-tubiaozhizuomoban-38:before {
	content: '\e649';
}

.next-zhongyingwen2zhongwen:before {
	content: '\e64a';
}

.next-pause:before {
	content: '\e64b';
}

.next-qiehuanyuyan:before {
	content: '\e769';
}

.next-weixing:before {
	content: '\e683';
}

.next-cheliangshebeiguanli:before {
	content: '\e660';
}

.next-shujutaizhang:before {
	content: '\e64d';
}

.next-jibennongtiantiqu:before {
	content: '\e8a7';
}

.next-caishouguanli:before {
	content: '\e621';
}

.next-zhongzhi:before {
	content: '\e692';
}

.next-baozhuang:before {
	content: '\e67b';
}

.next-jianyanguanli:before {
	content: '\e636';
}

.next-zhongzhi1:before {
	content: '\e639';
}

.next-jiaoseguanli:before {
	content: '\e6dd';
}

.next-icon-nongtian:before {
	content: '\e67d';
}

.next-nongtianshuili:before {
	content: '\e66e';
}

.next-yaocaiguanli:before {
	content: '\e78c';
}

.next-unie63a:before {
	content: '\e6bb';
}

.next-zhongduanchangshangguanli:before {
	content: '\e633';
}

.next-kucunliang:before {
	content: '\e614';
}

.next-weixiu:before {
	content: '\e634';
}

.next-weibiaoti9:before {
	content: '\e612';
}

.next-zhishiku:before {
	content: '\e61d';
}

.next-jiayouzhan:before {
	content: '\e615';
}

.next-ziyuan:before {
	content: '\e63b';
}

.next-web-icon-:before {
	content: '\e6cd';
}

.next-xitongguanli:before {
	content: '\e616';
}

.next-yonghuguanli:before {
	content: '\e617';
}

.next-mima1:before {
	content: '\e61b';
}

.next-quanping1:before {
	content: '\e618';
}

.next-guanbiquanping:before {
	content: '\e61f';
}

.next-bug:before {
	content: '\e65f';
}

.next-chongdianzhuang:before {
	content: '\e620';
}

.next-shipin:before {
	content: '\e60c';
}

.next-xianpaizhao:before {
	content: '\e60e';
}

.next-xiaoxi:before {
	content: '\e7d2';
}

.next-tongzhi:before {
	content: '\e65a';
}

.next-bumenguanli:before {
	content: '\e752';
}

.next-bumenguanli1:before {
	content: '\e657';
}

.next-quanxianshenpi:before {
	content: '\e60f';
}

.next-shaixuan:before {
	content: '\e610';
}

.next-baojing:before {
	content: '\e65b';
}

.next-denglu-shuruqingkong:before {
	content: '\e611';
}

.next-alarm:before {
	content: '\e871';
}

.next-icon_email:before {
	content: '\e646';
}

.next-icon_date:before {
	content: '\e648';
}

.next-btn_next:before {
	content: '\e61a';
}

.next-btn_revoke_border:before {
	content: '\e61c';
}

.next-btn_previous:before {
	content: '\e61e';
}

.next-btn_sel:before {
	content: '\e623';
}

.next-btn_yuyin_fill:before {
	content: '\e624';
}

.next-icon_anquanchengnuo_border:before {
	content: '\e627';
}

.next-icon_buhegebuwei_border:before {
	content: '\e628';
}

.next-icon_dingwei_border:before {
	content: '\e629';
}

.next-icon_jianchaxinxi_border:before {
	content: '\e62a';
}

.next-icon_chuchangbianhao_border:before {
	content: '\e62b';
}

.next-icon_liucheng_border:before {
	content: '\e62c';
}

.next-icon_saoma_border:before {
	content: '\e631';
}

.next-icon_shebeileixing_border:before {
	content: '\e638';
}

.next-img_qianming_border:before {
	content: '\e63a';
}

.next-icon_zhengjizhenggai_border1:before {
	content: '\e644';
}

.next-icon_luyin_border:before {
	content: '\e645';
}

.next-icon_buweibangding_border:before {
	content: '\e65c';
}

.next-icon_bangdinggeshu_border:before {
	content: '\e65d';
}

.next-bijiben:before {
	content: '\e602';
}

.next-fanhui:before {
	content: '\e603';
}

.next-xitongtupianziyuan:before {
	content: '\e622';
}

.next-zuoye:before {
	content: '\e814';
}

.next-shuju:before {
	content: '\e664';
}

.next-jiankong:before {
	content: '\e6a7';
}

.next-sousuofenlei:before {
	content: '\e606';
}

.next-dongtaiganzhi:before {
	content: '\e7ae';
}

.next-rencai:before {
	content: '\e60d';
}

.next-guanbishandian:before {
	content: '\e62f';
}

.next-gongzuojihua:before {
	content: '\e630';
}

.next-anfengxiantongji:before {
	content: '\e60a';
}

.next-zhuanducha:before {
	content: '\e66d';
}

.next-jinggao:before {
	content: '\e72d';
}

.next-daochu1:before {
	content: '\e6a5';
}

.next-shexiangtou:before {
	content: '\e6ca';
}

.next-wuxiandianbo:before {
	content: '\ec79';
}

.next-weizhi:before {
	content: '\e609';
}

.next-icon:before {
	content: '\e69a';
}

.next-nongchangguanli:before {
	content: '\e9e5';
}

.next-fenkuaizhongzhi:before {
	content: '\e62d';
}

.next-houtaitubiao-1:before {
	content: '\e653';
}

.next-dituguanli:before {
	content: '\e625';
}

.next-xiaodian:before {
	content: '\e601';
}

.next-pack-set:before {
	content: '\e760';
}

.next-role:before {
	content: '\e607';
}

.next-tuichu:before {
	content: '\e619';
}

.next-polygon:before {
	content: '\e6ec';
}

.next-quanping:before {
	content: '\e632';
}

.next-tuichuquanping:before {
	content: '\e637';
}

.next-rectangle:before {
	content: '\e605';
}

.next-circle:before {
	content: '\e626';
}

.next-polyline:before {
	content: '\ea06';
}

.next-tlog:before {
	content: '\e65e';
}

.next-persons:before {
	content: '\e62e';
}

.next-ai:before {
	content: '\ec5f';
}

.next-type-manage:before {
	content: '\e695';
}

.next-tupian:before {
	content: '\e666';
}

.next-user:before {
	content: '\e667';
}

.next-image-label:before {
	content: '\eed8';
}

.next-menu-manage:before {
	content: '\e694';
}

.next-mima:before {
	content: '\e659';
}

.next-notfound:before {
	content: '\e658';
}

.next-personal:before {
	content: '\e60b';
}

.next-project:before {
	content: '\e613';
}

.next-home:before {
	content: '\e608';
}

.next-kanban:before {
	content: '\eb66';
}

.next-yuandian:before {
	content: '\e604';
}

.next-data-inquire:before {
	content: '\e93f';
}

.next-historical-data:before {
	content: '\e6af';
}

.next-peizhi:before {
	content: '\ea3f';
}

.next-data-query:before {
	content: '\e600';
}

