@use 'packages/theme-chalk/mixins/index' as *;
@import 'packages/theme-chalk/varilable';

$block: 'labelme'; 
.#{bf($block, 'loading')} {
    .#{bem('spin-loading')} {
        &-mask__text {
            text-shadow: unset;
        }
    }
}
.#{bf($block, 'fullscreen')} {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
	background-color: #ffffff;
	overflow: hidden;
	transition: all 0.3s;
}

.#{bf($block)} {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	user-select: none;
	border: 1px solid #eee;
	border-radius: 3px;
    
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 12px;
		font-size: 12px;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
		&__tool {
			display: flex;
			align-items: center;
			>li {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 6px;
				text-align: center;
				>.label-text {
					margin: 0;
					padding: 5px 8px;
					line-height: normal;
				}
			}
			>li.tool-item {
				// flex-direction: column;
				&:hover {
					color: $theme-color;
					svg {
						fill: $theme-color;
					}
				}
			}
		}
	}
	&-main {
		width: 100%;
		display: flex;
		align-items: stretch;
        justify-content: space-between;
		&__left-tools {
			flex: 0 0 100px;
			padding: 10px 0 !important;
			box-shadow: 10px 0px 20px 0 rgba(0, 0, 0, 0.1);
			>li {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 6px 0;
				text-align: center;
				>.label-text {
					margin: 0;
					padding: 5px 8px;
					line-height: normal;
					font-size: 12px;
				}
			}
			>li.tool-item {
				flex-direction: column;
				cursor: pointer;
				&:hover {
					color: $theme-color;
					svg {
						fill: $theme-color;
					}
				}
			}
			>li.active-tool {
				color: $theme-color;
				cursor: not-allowed;
				svg {
					fill: $theme-color;
				}
			}
		}
		&__right-label {
			flex: 0 0 200px;
			padding: 10px;
			box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.1);
			
			> ul {
				padding: 10px;
				box-sizing: border-box;
				border-radius: 5px;
				height: 100%;
				li.#{be($block,'right-label', 'label-item')} {
					margin: 5px 0;
					padding: 3px 6px;
					font-size: 12px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					line-height: 20px;
					border: 1px solid #ddd;
					border-radius: 3px;
					.#{be($block,'right-label', 'label-content')} {
						flex: 1 1 auto;
						min-width: 80px;
					}
					.#{be($block,'right-label', 'label-btns')} {
						flex-grow: 0;
						flex-shrink: 0;
						display: flex;
						align-items: center;
					}
					.el-icon {
						cursor: pointer;
					}
					&:hover {
						border: 1px solid $theme-color;
					}
					.label-line {
						display: inline-block;
						width: 3px;
						height: 10px;
						margin-right: 6px;
						border-radius: 3px;
						background-color: #eeeeee;
					}
				}
				li.#{be($block,'label-item', 'active')} {
					border: 1px solid $theme-color;
					color: $theme-color;
				}
			}
		}
        &__content {
            flex: 1 1 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADZJREFUOE9jZKAQMFKon2HUAAYah8HZs2f/MzAw3DY2NlbDFVt4Y4FiA4hJI6PpgNbpgJhYAAB1/AoRxXg31wAAAABJRU5ErkJggg==);
        }
		.#{bf($block, 'loading')} {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.#{bf($block, 'canvas')} {
			width: 100%;
			min-height: 500px;
            height: 100%;
			position: relative;
			border: 1px solid #eeeeee;
			&__context {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 3;
			}
			&__rect {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 1;
			}
		}	
    }
    
	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 12px 8px;
        .left-right {
            flex: 0 0 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .el-icon {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__left {
            @extend .left-right;
        }
        &__right {
            @extend .left-right;
        }
        &__center {
            flex: 1 1 auto;
            &--list {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
				min-height: 80px;
                >li {
                    flex: 0 0 100px;
                    height: 80px;
                    border: 1px solid #eeeeee;
                    background-color: #ffffff;
                    box-sizing: border-box;
                    overflow: hidden;
                    text-align: center;
                    cursor: pointer;
                    margin: 0 5px;
                    &:hover {
                        border: 1px solid $theme-color
                    }
                }
                >li.is-activate {
                    border: 1px solid $theme-color
                }
            }
        }
	}
	
}
.#{bf($block, 'contextmenu-label')} {
	position: fixed;
	z-index: 9999;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 10px 15px;
	border-radius: 8px;
	white-space: nowrap;
	box-shadow: 0 0 50px 3px #cccccc;
	transition: all 0.3s;
	>.label-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		padding-bottom: 10px;
		.el-icon {
			transition: all 0.3s;
			&:hover {
				cursor: pointer;
				transform: rotate(90deg);
			}
		}
	}
	>.label-main {
		max-height: 300px;
		overflow-y: auto;
		@include setScrollBar();
		padding: 6px 0;
		> li {
			padding: 3px 0;
			font-size: 12px;
			display: flex;
			align-items: center;
			cursor: pointer;
			&:hover {
				color: $theme-color;
			}
			.label-line {
				display: inline-block;
				width: 3px;
				height: 10px;
				margin-right: 6px;
				border-radius: 3px;
			}
		}
		>li.activate-label {
			color: $theme-color;
		}
	}
}