@use 'sass:math';
@use 'sass:map';
@use './varilable' as *;
@use './element-plus.scss';
@use './el-light.scss';
@use './el-dark.scss';
@use './el-glass.scss';
@use './common.scss';

:root {
    --next-main-bg-color: #ffffff;
}