$theme-color: var(--el-color-primary);

$layout-bg-color: var(--next-layout-bg-color);
$layout-font-color: var(--next-layout-font-color);

// layout transverse
$layout-header-height: var(--next-layout-header-height, 64px);
$layout-nav-height: var(--next-layout-nav-height, 45px);
$layout-sidebar-width: var(--next-layout-sidebar-width, 240px);


