@use 'packages/theme-chalk/mixins/index' as *;
@use 'packages/theme-chalk/varilable.scss' as *;

$block: 'video-player';
.#{bem($block)}{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
    min-height: 200px;
    border-radius: 5px;
    .vjs-default-skin {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100% !important;
		min-height: 200px;
		padding: unset !important; // 关键代码，处理视频播放高度不自适应，视频界面溢出
		// 设置一直显示播放器控件按钮
		// .vjs-control-bar {
		// 	opacity: 1 !important;
		// 	visibility: visible !important;
		// }
	}
	.screemshot-btn {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		$size: 45px;
		width: $size;
		height: $size;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(#000000, 0.6);
		border-radius: 50%;
		cursor: pointer;
		opacity: 0;
		transition: all 0.5s ease-in-out;
        i {
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            i {
                transform: scale(1.1);
            }
        }
	}
	&:hover {
		.screemshot-btn {
			opacity: 1;
		}
	}
    &-recongition {
        position: absolute;
        z-index: 99;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}