@use 'packages/theme-chalk/mixins/index.scss' as *;
@use 'packages/theme-chalk/varilable.scss' as *;
.#{bem('spin-loading')} {
	position: relative;
	&-mask {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 4;
		transition: opacity 0.3s;
		inset-inline-start: 0;
		backdrop-filter: blur(1px);
	}
	&-mask-dot {
		position: absolute;
		top: 50%;
		inset-inline-start: 50%;
		transform: rotate(45deg);
		animation: antRotate 1.2s infinite linear;
	}
	&-mask__text {
		position: absolute;
		left: 0px;
		top: 50%;
		width: 100%;
		padding-top: 15px;
		text-align: center;
		color: $theme-color;
		font-size: 14px;
	}
	&-mask__dot-item {
		position: absolute;
		display: block;
		width: 12px;
		height: 12px;
		background-color: $theme-color;
		border-radius: 100%;
		transform: scale(0.75);
		transform-origin: 50% 50%;
		opacity: 0.3;
		animation: antSpinMove 1s infinite linear alternate;
		&:nth-child(1) {
			top: 0;
			inset-inline-start: 0;
		}
		&:nth-child(2) {
			top: 0;
			inset-inline-end: 0;
			animation-delay: 0.4s;
		}
		&:nth-child(3) {
			inset-inline-end: 0;
			bottom: 0;
			animation-delay: 0.8s;
		}
		&:nth-child(4) {
			bottom: 0;
			inset-inline-start: 0;
			animation-delay: 1.2s;
		}
	}
	@keyframes antRotate {
		to {
			transform: rotate(405deg);
		}
	}
	@keyframes antSpinMove {
		to {
			opacity: 1;
		}
	}
}
