@use 'packages/theme-chalk/mixins/index' as *;
@import 'packages/theme-chalk/varilable';

.#{bem('dialog')} {
	border-radius: 6px;
    padding: unset;
	.el-dialog__header {
		margin-right: unset;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--el-color-primary-light-8);
        background-color: var(--el-color-primary-light-9);
        border-radius: 6px 6px 0 0;
        padding: var(--el-dialog-padding-primary);
		// box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
		.el-dialog__title {
			color: #303133;
			font-weight: normal;
            font-size: 16px;
		}
        .#{bf('dialog', 'header')} {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
		.#{bem('dialog','header-right')} {
			display: flex;
			align-items: center;
            height: var(--el-dialog-font-line-height);
			.icon-fullscreen {
				font-size: 18px;
				margin-top: 2px;
			}
			.el-icon {
				cursor: pointer;
				color: #909399;
				&:hover {
					color: $theme-color;
				}
			}
			.icon-close {
				margin-left: 10px;
				display: flex;
				align-items: center;
				.el-icon {
					transition: all 0.3s;
				}
				&:hover {
					.el-icon {
						transform: rotate(90deg);
					}
				}
			}
		}
	}
	.el-dialog__body {
		padding: 10px 20px;
		min-height: 60px;
	}
    .el-dialog__footer {
        padding: unset;
    }
    .#{bem('dialog-footer', 'zoom')} {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -10px;
        right: -10px;
        cursor: se-resize;
    }
}
.#{bf('dialog', 'nofill')} {
	.el-dialog__body {
		padding: 0;
	}
}
.#{bem('dialog')}.is-fullscreen {
	border-radius: 3px;
	overflow-y: hidden;
	.el-dialog__body {
		height: calc(100% - 55px);
		overflow-y: auto;
		box-sizing: border-box;
		/* 修改滚动条的颜色和宽度 */
		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
			background-color: #f5f5f5;
		}

		/* 修改滚动条滑块的颜色和圆角 */
		&::-webkit-scrollbar-thumb {
			background-color: #ccc;
			border-radius: 3px;
		}

		/* 鼠标悬停在滚动条上时的样式 */
		&::-webkit-scrollbar-thumb:hover {
			background-color: #aaa;
		}

		/* 滚动条处于不活动状态时的样式 */
		&::-webkit-scrollbar-thumb:inactive {
			background-color: #eee;
		}
	}
}
