@use 'packages/theme-chalk/mixins/index' as *;
@use 'packages/theme-chalk/varilable' as *;

$block: 'layout-defaults';

.#{bf($block)} {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--el-bg-color-page);
	--next-layout-sidebar-width: 300px;
	--next-layout-font-color: var(--el-text-color-primary);
	$margin-w: 16px;

	.#{bf($block, 'sidebar')} {
		flex-grow: 0;
		flex-shrink: 0;
		width: $layout-sidebar-width;
		height: 100%;
		position: relative;
		padding: $margin-w 0 $margin-w $margin-w;
		box-sizing: border-box;

		>.el-scrollbar {
			border-radius: 6px;
			background-color: var(--el-bg-color);

			.el-scrollbar__view {
				height: 100%;
				box-shadow: var(--el-box-shadow-light);

				.el-menu {
					.el-menu-item.is-active {
						background-color: var(--el-color-primary-light-8);

						&::before {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							width: 3px;
							background-color: var(--el-color-primary);
						}
					}
				}
			}
		}
	}

	.#{bf($block, 'header')} {
		height: $layout-header-height;
		background-color: var(--el-bg-color);
		color: var(--el-text-color-primary);
		width: calc(100% - $margin-w * 2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 $margin-w;
		border-radius: 6px 6px 0 0;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
	}

	.#{bf('tabs')} {
		background-color: var(--el-bg-color);
		color: var(--el-text-color-primary);
		width: calc(100% - $margin-w * 2);
		margin: 0 $margin-w;
		border-radius: 0 0 6px 6px;
	}

	.#{bf($block, 'content')} {
		flex: 1 1 auto;
		width: calc(100% - $layout-sidebar-width);
		height: calc(100% - $margin-w);
		margin-top: $margin-w;
	}

	.#{bf($block ,'main')} {
		width: 100%;
		height: calc(100% - #{$layout-header-height});
	}
}