@use 'packages/theme-chalk/mixins/index' as *;
@import 'packages/theme-chalk/varilable.scss';

$block: 'menu';
.active-menu-item {
	color: $theme-color;
	.icon {
		fill: $theme-color;
	}
	i.iconfont {
		color: $theme-color;
	}
}
// 纵向菜单
.#{bem($block)}.el-menu--vertical {
    height: 100%;
	border: unset;
	background-color: transparent;
	border-bottom: none;
	user-select: none;
	.el-menu {
		background-color: transparent;
	}
	.el-menu-item,
	.el-sub-menu,
	.el-sub-menu__title {
        color: var(--el-text-color-primary);
        .icon {
            fill: var(--el-text-color-primary);
        }
		i.iconfont {
			color: var(--el-text-color-primary);
		}
		&:hover {
			>.#{bf($block, 'item')} {
				&__icon,
				&__title {
					@extend .active-menu-item;
				}
			}
		}
    }
	.el-menu-item.is-active,
	.el-sub-menu.is-active {
		>.#{bf($block, 'item')} {
			&__icon,
			&__title {
				@extend .active-menu-item;
			}
		}
		>.el-sub-menu__title {
            >.#{bf($block, 'item')} {
                &__icon,
                &__title {
                    @extend .active-menu-item;
                }
            }
		}
	}
}
// 横向菜单
.#{bem($block)}.el-menu--horizontal {
    width: 100%;
    height: $layout-header-height;
	background-color: transparent;
	border-bottom: none;
	user-select: none;
	.el-menu-item,
	.el-sub-menu__title,
	.is-active {
		border-bottom: unset !important;
	}
	.el-menu-item,
	.el-sub-menu,
	.el-sub-menu__title {
		position: relative;
		color: $layout-font-color;
		&:hover {
			background-color: unset !important;
			>.#{bf($block, 'item')} {
				&__icon,
				&__title {
					@extend .active-menu-item;
				}
			}
		}
		&:focus {
			background-color: unset !important;
			color: $layout-font-color;
		}
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			right: 50%;
			bottom: 5px;
			height: 2px;
			transition: all 0.3s ease-in-out;
		}
	}
	.el-menu-item.is-active,
	.el-sub-menu.is-active {
        >.#{bf($block, 'item')} {
            &__icon,
            &__title {
                @extend .active-menu-item;
            }
        }
		>.el-sub-menu__title {
            >.#{bf($block, 'item')} {
                &__icon,
                &__title {
                    @extend .active-menu-item;
                }
            }
		}
		&::after {
			content: '';
			position: absolute;
			left: var(--el-menu-base-level-padding);
			right: var(--el-menu-base-level-padding);
			bottom: 5px;
			height: 2px;
			background-color: $theme-color;
		}
	}
}
$popper: bf($block, 'popper');
.#{$popper} {
    border: unset;
	.el-menu--horizontal {
		border-bottom: unset;
	}
	.el-menu--popup {
		background-color: $layout-bg-color;
		.el-menu-item,
		.el-sub-menu__title {
            color: $layout-font-color;
			background-color: $layout-bg-color;
			&:hover {
				background-color: rgba(#000000, 0.3);
                >.#{bf($block, 'item')} {
                    &__icon,
                    &__title {
                        @extend .active-menu-item;
                    }
                }
			}
		}
		.el-menu-item.is-active,
		.el-sub-menu.is-active,
		.el-sub-menu__title.is-active {
            >.#{bf($block, 'item')} {
                &__icon,
                &__title {
                    @extend .active-menu-item;
                }
            }
		}
	}
}
// 菜单下拉弹框样式
.#{bf($block, 'popper')}.el-popper.is-light {
    @extend .#{$popper};
}
.#{bem($block + '-item', 'icon')} {
    font-size: 16px;
    color: $layout-font-color;
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
    .icon {
        width: 16px;
        height: 16px;
        fill: $layout-font-color;
    }
}
.el-menu-item,.el-sub-menu__title  {
    * {
        vertical-align: unset;
    }
}